.sl {
	font-size: 13px;
	line-height: 21px;
	padding-left: 60px;
	position: relative;
	color: white;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: white;
	background-color: black;
}

.hamburger-icon {
	width: 20px;
	height: 20px;
	color: white;
	transition: transform .3s .3s;
	-webkit-transition: transform .3s .3s;
	cursor: pointer;
	z-index: 1;
	position: relative;
}

#logo img {
	width: 200px !important;
	height: auto !important;
	max-height: none;
	max-width: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}

.mt-5 {
	margin-top: 5%;
}

.mb-5 {
	margin-bottom: 5%;
}

.slider-3 {
	position: relative;
	overflow: hidden;
	background-image: url(../img/video.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer {
	padding: 40px 0;
	background: #151515;
	color: white
}

.sa {
	font-size: 16px;
	line-height: 25px;
	color: white;
}

.slice-slider-align-2 .preview:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none;
	content: "";
	transition: all .3s;
	-webkit-transition: all .3s;
	opacity: 0;
}

.sa h1,
.h1,
.sa h2,
.h2,
.sa h3,
.h3,
.sa h4,
.h4,
.sa h5,
.h5,
.sa h6,
.h6 {
	color: white;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}

.thumbnail-shortcode-5 .layer-2 {
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 90px;
	top: 0;
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff;
}

.swiper-pagination-bullet {
	width: 9px;
	height: 9px;
	display: inline-block;
	border-radius: 100%;
	background: white;
	border: 1px #fff solid;
}

@media (min-width: 991px) {

	header.type-2.scrolled,
	header.type-3.scrolled {
		background: black;
		box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		-webkit-box-shadow: 0 0 15px rgba(185, 185, 185, 0.22);
	}
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	background-image: url(../img/left.svg);
	background-size: 40px;
	left: -50px;
	right: auto;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	background-image: url(../img/right.svg);
	background-size: 40px;
	right: -50px;
	left: auto;
}

@media (max-width: 991px) {
	.header-wrapper {
		background: #000 !important;
		box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
		position: relative;
		height: 160%;
	}
}

@media (max-width: 991px) {
	header #logo {
		position: absolute;
		left: 25px;
		top: 15px;
		width: 40px;
		height: 50px;
	}
}

@media (max-width: 991px) {
	nav a {
		font-size: 30px;
		line-height: 40px;
		color: #fff;
		font-weight: 900;
		display: inline-block;
		vertical-align: top;
	}
}

@media (max-width: 991px) {
	.navigation-wrapper {
		position: fixed;
		left: -100%;
		width: 100%;
		top: -100px;
		bottom: -100px;
		background: black;
		z-index: -1;
		opacity: 0;
		transition: left 0s 1s, opacity .5s;
		-webkit-transition: left 0s 1s, opacity .5s;
	}
}

.info {
	width: 100%;
	max-width: 610px;
	margin: 30px auto 15px;
	background-color: #fff;
	box-shadow: 0 0 3px #ccc;
	text-align: center;
}

p {
	font-size: 1.2em;
	margin: 0 0 15px;
	padding: 15px;
}

p:last-of-type {
	margin-bottom: 0;
}

p a {
	color: #428bca;
	text-decoration: none;
}

iframe[src*="instagram.com"] {
	display: block;
	margin: 0 auto 30px;
	box-shadow: 0 0 3px #ccc;
}
